li {
    background-color: #EDECEC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36.8rem;
    height: 4rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
    margin: 0.8rem 0;
    list-style: none;
    border-radius: 2px;
    font-size: 1.6rem;    
}

.button {
    transition: all 0.2s ease;
}